* {
	font-family: 'Varela Round', serif;
}
.form-horizontal {
	background-color: #0080FF!important;
}
.icon {
	float: left;
	padding-left: 50px;
	padding-top: 20px;
}
label{
	font-weight: bold;
	color: #ECF0F1;
}
optgroup {
	background-color: #F7D358;
}
optgroup > option{
	background-color: white;
}
.form-group, .form-group2 {
	padding-top: 20px;
	float: right;
}
.from{
	float: left;
}
.to {
	float: left;
}
.input-group {
	padding-top: 20px;
	padding-left: 15px;
	float:right;
}
.btn-group {
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 20px;
	float: left;
}
.btn-circle {
	text-align: center!important;
	border-radius: 100%!important;
}
@media (min-width: @screen-small) {
	margin-left:  (@gutter / -2) ;
	margin-right: (@gutter / -2);
}